<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:body>

        <ui:composition template="/resources/template/template.xhtml">

            <ui:define name="content">

                <h:form>


                    <p:panel header="Manage Financial Activities" >
                        <p:tabView orientation="left" >
                            <p:tab title="Fees" >
                                <h:panelGrid columns="1" >  







                                    <p:commandButton  styleClass="linkButton" ajax="false" value="Item Fees" action="/common/manage_item_fees" onclick="onSubmitButton();"/>
                                    <p:commandButton styleClass="linkButton"
                                                     ajax="false" 
                                                     value="Add New Item Fees" 
                                                     action="/dataAdmin/manage_item_fees_bulk" 
                                                     onclick="onSubmitButton();"/>

                                    <p:commandButton styleClass="linkButton"
                                                     ajax="false" 
                                                     value="Correct Item Fees" 
                                                     action="/dataAdmin/bulk_update_itemsFees" 
                                                     onclick="onSubmitButton();"/>
                               </h:panelGrid>
                                  </p:tab>
                            

                                <p:tab title="Manage Price Scheme" >
                                    <h:panelGrid columns="1" >
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Discount Schemes" action="payment_scheme" onclick="onSubmitButton();"/>
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Discount Schemes(MemberShip)" action="payment_scheme_member_ship" onclick="onSubmitButton();"/>
                                    </h:panelGrid>
                                    </p:tab>
                               
                                <p:tab title="Manage Membership Scheme" >
                                    <h:panelGrid columns="1" >
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Membership Schemes" action="/memberShip/membership_scheme" onclick="onSubmitButton();"/>
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Membership Schemes Dicounts" action="/memberShip/membership_scheme_discount_inward" onclick="onSubmitButton();"/>
                                    </h:panelGrid>
                                    </p:tab>
                                
                                <p:tab title="Manage Packages"  >
                                    <h:panelGrid columns="1" columnClasses="grid1 grid1" >
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Package Names" action="/lab/package_name" onclick="onSubmitButton();"/>
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Add Item to Package" action="/lab/package_item" onclick="onSubmitButton();"/>
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Manage Package Prices" action="/lab/package_item_prices" onclick="onSubmitButton();"/>
                                    </h:panelGrid>
                                     </p:tab>
                                
                            
                                <p:tab title="Manage Medical Packages"  >
                                    <h:panelGrid columns="1" columnClasses="grid1 grid1" >
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Medical Package Names" action="opd_medical_package_name" onclick="onSubmitButton();"/>
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Add Item to Package" action="opd_medical_package_item" onclick="onSubmitButton();"/>
                                        <p:commandButton  styleClass="linkButton" ajax="false" value="Manage Package Prices" action="opd_medical_package_item_prices" onclick="onSubmitButton();"/>
                                    </h:panelGrid>
                                </p:tab>
                            </p:tabView>

                                </p:panel>
                                


                                </h:form>
                                </ui:define>


                                </ui:composition>

                                </h:body>
                                </html>
